= simple_form_for @booking do |b|
  - if @booking.errors.any?
    #error_explanation
      %h2
        = pluralize(@booking.errors.count, "error")
        prohibited this booking from being saved:
      %ul
        - @booking.errors.full_messages.each do |message|
          %li= message
          
  = b.hidden_field :journey_id, value: @journey.id
  = b.label :berthbooked, "You booked #{@booking.berthbooked} berths on that journey" 
  = b.label "How many berths do you want in total: "
  = b.input :berthbooked, collection: 1..(@booking.sum_berthbooked_available_berth).to_i, include_blank: false, selected: params[:booking]&&params[:booking][:berthbooked], label: false

  = b.label "Write a comment: "
  = b.input :comment, as: :text,label: false
  = b.button :submit, "Request to book", class: "btn orange"