%p#notice= notice

%p User who booked that journey
= current_user.first_name

%p How many berth did you book?
= @booking.berthbooked

%p Comment:
= @booking.comment

%p Status:
= @booking.status

= link_to 'Edit', edit_booking_path(@booking)
|
= link_to 'Back', bookings_path
