<p id="notice"><%= notice %></p>

<p>
  <strong>Comment:</strong>
  <%= @booking.comment %>
</p>

<p>
  <strong>Status:</strong>
  <%= @booking.status %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
