=image_tag("backgroundb_w.jpg", class: "background_image")

.container_above_image

  .white_container.users_show

    %h1 
      ="#{@user.first_name}s Profile"

    = image_tag @user.user_image, class: "img_user"

   

    %h4 About me: 
    = @user.about_me

    -if current_user.id == @user.id
      = link_to 'Edit Profile', edit_user_registration_path, class: "btn turk"

    %h4 My Boat: 
    = @user.boat.try :description

    = image_tag(@user.boat.try :boat_image, class: "img_user")

    -if current_user.id == @user.id
      - if current_user.boat.present?
        = link_to "Manage boat", edit_boat_path(current_user.boat), class: "btn turk"
      - else
        = link_to "Add a boat to your profile", new_boat_path, class: "btn turk"



    %h3 Journeys in the past:
    -if @user.journeys_as_captain.journeys_in_past.any?
      - @user.journeys_as_captain.journeys_in_past.each do |journey|
        = "Start of the journey: #{journey.start_city}"
        = "End of the journey: #{journey.end_city}"
        = "Start date: #{journey.start_date.strftime('%d/%m/%Y')}"
        = "End date: #{journey.end_date.strftime('%d/%m/%Y')}"
        = link_to 'Show', journey
    - else 
      No journeys as captain in the past yet.

    %h3 Journeys in the future:
    -if @user.journeys_as_captain.journeys_in_future.any? 
      - @user.journeys_as_captain.journeys_in_future.each do |journey|
        = "Start of the journey: #{journey.start_city}"
        = "End of the journey: #{journey.end_city}"
        = "Start date: #{journey.start_date.strftime('%d/%m/%Y')}"
        = "End date: #{journey.end_date.strftime('%d/%m/%Y')}"
        = link_to 'Show', journey
    - else 
      No journeys as captain in the future.




