=image_tag("backgroundb_w.jpg", class: "background_image")

.container_above_image

  .user_column
    .white_container.users_show 

      %h1 
        ="#{@user.name}"

      = image_tag @user.user_image, class: "img_user"




      %h2 My Boat: 
           
      = image_tag @user.boat.try(:boat_image), class: "img_user"

      -if current_user.id == @user.id
        = link_to 'Edit Profile', edit_user_registration_path, class: "btn turk"
      
      %p
        = @user.boat.try :description
    

      -if current_user.id == @user.id
        - if current_user.boat.present?
          = link_to "Manage boat", edit_boat_path(current_user.boat), class: "btn turk"
        - else
          = link_to "Add a boat to your profile", new_boat_path, class: "btn turk"



  .journey_history_column
    .white_container.users_show
      %h2 Journey as captain in the past:
      -if @user.journeys_as_captain.journeys_in_past.any?
        - @user.journeys_as_captain.journeys_in_past.each do |journey|
          = "From #{journey.start_city} to #{journey.end_city}"
          .date
            = "#{journey.start_date.strftime('%d/%m/%Y')} - #{journey.end_date.strftime('%d/%m/%Y')} "  
      - else 
        No journeys yet.

      %h2 Journeys as a captain in the future:
      -if @user.journeys_as_captain.journeys_in_future.any? 
        - @user.journeys_as_captain.journeys_in_future.each do |journey|
          = "From #{journey.start_city} to #{journey.end_city}"
          .date
            = "#{journey.start_date.strftime('%d/%m/%Y')} - #{journey.end_date.strftime('%d/%m/%Y')} "
          = link_to 'Show', journey, class: "btn turk"
      - else 
        No journeys as captain in the future.




