%h3 Image: 
= image_tag @user.user_image

%h3 Name:  
= @user.first_name

%h4 About me: 
= @user.about_me

-if current_user.id == @user.id
  = link_to 'Edit Profile', edit_user_registration_path

%h4 My Boat: 
= @user.boat.try :description

%h4 Image of the boat: 
= image_tag @user.boat.try :boat_image

-if current_user.id == @user.id
  - if current_user.boat.present?
    = link_to "Manage boat", edit_boat_path(current_user.boat)
  - else
    = link_to "Add a boat to your profile", new_boat_path



%h4 Journeys in the past:
-if @user.journeys_as_captain.journeys_in_past.any?
  - @user.journeys_as_captain.journeys_in_past.each do |journey|
    = "Start of the journey: #{journey.start_city}"
    = "End of the journey: #{journey.end_city}"
    = "Start date: #{journey.start_date.strftime('%d/%m/%Y')}"
    = "End date: #{journey.end_date.strftime('%d/%m/%Y')}"
    = link_to 'Show', journey
- else 
  no journeys as captain in the past.

%h4 Journeys in the future:
-if @user.journeys_as_captain.journeys_in_future.any? 
  - @user.journeys_as_captain.journeys_in_future.each do |journey|
    = "Start of the journey: #{journey.start_city}"
    = "End of the journey: #{journey.end_city}"
    = "Start date: #{journey.start_date.strftime('%d/%m/%Y')}"
    = "End date: #{journey.end_date.strftime('%d/%m/%Y')}"
    = link_to 'Show', journey
- else 
  no journeys as captain in the future.




