= form_for(@journey) do |f|
  - if @journey.errors.any?
    #error_explanation
      %h2
        = pluralize(@journey.errors.count, "error")
        prohibited this journey from being saved:
      %ul
        - @journey.errors.full_messages.each do |message|
          %li= message
 
  = f.label :title
  = f.text_field :title

  = f.label :description
  = f.text_area :description

  = f.label :start_port_latitude
  = f.text_field :start_port_latitude

  = f.label :end_port_latitude
  = f.text_field :end_port_latitude

  = f.label :start_address
  = f.text_field :start_address

  = f.label :start_city
  = f.text_field :start_city

  = f.label :end_address
  = f.text_field :end_address

  = f.label :end_city
  = f.text_field :end_city

  = f.label :country

  = f.country_select(:country, {priority_countries: ["GB", "FR", "NL"]})



  = f.label :deal
  = f.text_field :deal

  = f.label :berth
  = f.text_field :berth
  .actions
    = f.submit "List your journey"
