- if current_user.boat.present?
  = form_for(@journey) do |f|
    - if @journey.errors.any?
      #error_explanation
        %h2
          = pluralize(@journey.errors.count, "error")
          prohibited this journey from being saved:
        %ul
          - @journey.errors.full_messages.each do |message|
            %li= message
   
    .form_field
      = f.text_field :title, placeholder: "Journey Title"
    .form_field
      = f.text_field :start_city, placeholder: "Start Port"
    .form_field
      = f.text_field :end_city, placeholder: "End Port"
    .form_field
      = f.country_select(:country, {include_blank: 'Choose a country', only: ["GB","FR", "NL", "GR" ]})
    .form_field
      = f.text_field :start_date, autocomplete: :off, placeholder: 'Embarking date', class: :datepicker
      = f.text_field :end_date, autocomplete: :off, placeholder: 'Check out', class: :datepicker
    .form_field
      = f.text_field :deal, autocomplete: :off, placeholder: "Deal"
    .form_field
      = f.select :berth, options_for_select((1..15).map{|x| ["#{x} berth", x]}, @journey.berth)


    = f.submit "List your journey", class: "btn orange"

      
- else
  = link_to "You have to add your boat to profile first", new_boat_path, class: "btn orange"
