<%= form_for(@journey) do |f| %>
  <% if @journey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@journey.errors.count, "error") %> prohibited this journey from being saved:</h2>

      <ul>
      <% @journey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start %><br>
    <%= f.date_select :start %>
  </div>
  <div class="field">
    <%= f.label :end %><br>
    <%= f.date_select :end %>
  </div>
  <div class="field">
    <%= f.label :start_port_latitude %><br>
    <%= f.text_field :start_port_latitude %>
  </div>
  <div class="field">
    <%= f.label :end_port_latitutude %><br>
    <%= f.text_field :end_port_latitutude %>
  </div>
  <div class="field">
    <%= f.label :start_address %><br>
    <%= f.text_field :start_address %>
  </div>
  <div class="field">
    <%= f.label :start_city %><br>
    <%= f.text_field :start_city %>
  </div>
  <div class="field">
    <%= f.label :end_address %><br>
    <%= f.text_field :end_address %>
  </div>
  <div class="field">
    <%= f.label :end_city %><br>
    <%= f.text_field :end_city %>
  </div>
  <div class="field">
    <%= f.label :start_country %><br>
    <%= f.text_field :start_country %>
  </div>
  <div class="field">
    <%= f.label :end_country %><br>
    <%= f.text_field :end_country %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :deal %><br>
    <%= f.text_field :deal %>
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_field :comment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
