-if journey.journey_in_future
  .journeys_index_item
    = image_tag journey.captain.boat.boat_image, class: "boat_image_journey"
    %h2= journey.title
    .date= "#{(journey.start_date).strftime("%d | %m | %y - ") if journey.start_date } #{(journey.end_date).strftime("%d | %m | %y") if journey.end_date }"
    %h3= "From #{journey.start_city} to #{journey.end_city}"

    .available_berths
      -if journey.available_berths > 0
        %p= "#{journey.available_berths} berth out of total #{journey.berth} berth are still available."
      -else
        %p= "No berths available anymore."

    %p.turk= link_to 'More', journey, class: "btn turk"
    %p= link_to 'Edit', edit_journey_path(journey), class: "btn b_w" if can? :edit, journey
    %p= link_to 'Cancel', journey, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn b_w" if can? :delete, journey