%h1 Listing journeys
%table
  %thead
    %tr
      %th Start
      %th End
      %th Start port latitude
      %th End port latitutude
      %th Start address
      %th Start city
      %th End address
      %th End city
      %th Start country
      %th End country
      %th Title
      %th Description
      %th Deal
      %th Comment
      %th{:colspan => "3"}
  %tbody
    - @journeys.each do |journey|
      %tr
        %td= journey.start
        %td= journey.end
        %td= journey.start_port_latitude
        %td= journey.end_port_latitutude
        %td= journey.start_address
        %td= journey.start_city
        %td= journey.end_address
        %td= journey.end_city
        %td= journey.start_country
        %td= journey.end_country
        %td= journey.title
        %td= journey.description
        %td= journey.deal
        %td= journey.comment
        %td= link_to 'Show', journey
        %td= link_to 'Edit', edit_journey_path(journey)
        %td= link_to 'Destroy', journey, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Journey', new_journey_path
