= form_tag "/journeys", method: "get", id: :search_form, remote: :true do
  = country_select("user", "country", priority_countries: ["GB", "FR", "NL"])
  = text_field_tag :search, params[:search], placeholder: "Search for a destination"
  / = collection_select :category, :category_id, Category.all, :id, :name, {prompt: "All categories", selected: params[:category]&&params[:category][:category_id]}
  = submit_tag "List journeys", id: "searchbutton", class: "btn"



= render @journeys
  
%br/
= link_to 'New Journey', new_journey_path
