%p#notice= notice
%div
  %h2
    = @journey.title
  %p= (@journey.start_date).strftime("%d | %m | %y - ") 
  %p= (@journey.end_date).strftime("%d | %m | %y") 
  = @journey.description 

  %p
    %strong Description:
    = @journey.description
  %p
    %strong Deal:
    = @journey.deal
  %p
    = "#{@journey.berth} berth still available"
  = link_to 'Edit', edit_journey_path(@journey)

  = link_to 'Back', journeys_path

%div
  %h2 
    Book your berth now:

  = simple_form_for @booking do |b|
    = b.label "Select number of berths: "
    = b.input :berthbooked, collection: 1..(@journey.berth),include_blank: false, selected: params[:booking]&&params[:booking][:berthbooked], label: false
    = b.label "#{@journey.deal} :"
    = b.input :dealconfirmation,  as: :check_boxes, collection: ['Ok'], label: false
    = b.label "Write a comment: "
    = b.input :comment, as: :text,label: false
    = b.button :submit, "Request to book"



