%p#notice= notice
%div
  %h2
    = @journey.title
  %p= (@journey.start_date).strftime("%d | %m | %y - ") 
  %p= (@journey.end_date).strftime("%d | %m | %y") 
  = @journey.description 

  %p
    %strong Description:
    = @journey.description
  %p
    %strong Deal:
    = @journey.deal
  %p
    = "#{@journey.berth} berth still available"
  = link_to 'Edit', edit_journey_path(@journey)

  = link_to 'Back', journeys_path

%div
  %h2 
    Book your berth now:

  = simple_form_for @journey do |f| 
    = f.label "Select number of berths: "
    = f.input :berth, collection: 1..(@journey.berth)
    = f.label :deal
    = f.input :deal,  as: :check_boxes
    = f.label "Write a comment: "

    = f.button :submit



