%p#notice= notice
%div
  %h2
    = @journey.title

  %p= "Captain for this journey: #{@journey.captain.try :name}"
  
  %p= @journey.start_date.strftime("%d | %m | %y - ") if @journey.start_date 
  %p= (@journey.end_date).strftime("%d | %m | %y") if @journey.end_date
  = @journey.description 
    
  %h3 Start Address
  = @journey.start_full_address

  %p Start Port Latitude:
  = @journey.start_port_latitude if @journey.start_port_latitude
  %p Start Port Longitude:
  = @journey.start_port_longitude if @journey.start_port_longitude

  %p
  = "Current weather in #{@journey.start_city}: " 
  = @journey.weather_at_location("start")["main"]["temp"] 
  = @journey.weather_at_location("start")["weather"][0]["main"] 

  
  %h3 End Address
  = @journey.end_full_address

  %p End Port Latitude:
  = @journey.end_port_latitude if @journey.end_port_latitude
  %p End Port Longitude:
  = @journey.end_port_longitude if @journey.end_port_longitude

  %p
  = "Current weather in #{@journey.end_city}: " 
  = @journey.weather_at_location("end")["main"]["temp"] 
  = @journey.weather_at_location("end")["weather"][0]["main"] 

  %p
    %strong Description:
    = @journey.description
  %p
    %strong Deal:
    = @journey.deal
  %p
    = "#{@journey.berth} berth still available"

  %p Share that journey: 
  = social_share_button_tag("Check out the journey on Mate App")

  = link_to 'Edit', edit_journey_path(@journey)

  = link_to 'Back', journeys_path

%div
  %h2 
    Book your berth now:

  - if current_user
    = simple_form_for @booking do |b|
      = b.hidden_field :journey_id, value: @journey.id
      = b.label "Select number of berths: "
      = b.input :berthbooked, collection: 1..(@journey.berth).to_i, include_blank: false, selected: params[:booking]&&params[:booking][:berthbooked], label: false
      = b.label "#{@journey.deal} :"
      = b.input :dealconfirmation,  as: :check_boxes, collection: ['Ok'], label: false
      = b.label "Write a comment: "
      = b.input :comment, as: :text,label: false
      = b.button :submit, "Request to book"
  - else    
    = link_to "Log in to book your berth", new_user_session_path

#map_canvas



  



