<p id="notice"><%= notice %></p>

<p>
  <strong>Start:</strong>
  <%= @journey.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @journey.end %>
</p>

<p>
  <strong>Start port latitude:</strong>
  <%= @journey.start_port_latitude %>
</p>

<p>
  <strong>End port latitutude:</strong>
  <%= @journey.end_port_latitutude %>
</p>

<p>
  <strong>Start address:</strong>
  <%= @journey.start_address %>
</p>

<p>
  <strong>Start city:</strong>
  <%= @journey.start_city %>
</p>

<p>
  <strong>End address:</strong>
  <%= @journey.end_address %>
</p>

<p>
  <strong>End city:</strong>
  <%= @journey.end_city %>
</p>

<p>
  <strong>Start country:</strong>
  <%= @journey.start_country %>
</p>

<p>
  <strong>End country:</strong>
  <%= @journey.end_country %>
</p>

<p>
  <strong>Title:</strong>
  <%= @journey.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @journey.description %>
</p>

<p>
  <strong>Deal:</strong>
  <%= @journey.deal %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @journey.comment %>
</p>

<%= link_to 'Edit', edit_journey_path(@journey) %> |
<%= link_to 'Back', journeys_path %>
