// current weather at start and end port. 

%p
  = "Current weather in #{@city}: "
%p
  = @journey.weather_temp(@location)
%p
  = @journey.weather_main(@location)

=image_tag "http://openweathermap.org/img/w/#{@journey.weather_icon(@location)}.png"
