= form_for(@boat) do |f|
  - if @boat.errors.any?
    #error_explanation
      %h2
        = pluralize(@boat.errors.count, "error")
        prohibited this boat from being saved:
      %ul
        - @boat.errors.full_messages.each do |message|
          %li= message
  %h3
    = f.label :boat_image, "Image of your boat"

  %p
    = f.file_field :boat_image, placeholder: "Upload an image", label: false

    = f.text_field :remote_boat_image_url, placeholder: "Remote url"
  %h3
    = f.label :description, "Descripe your boat"

  %p

    = f.text_area :description
  .actions
    = f.submit "Save boat", class: "btn orange"
