!!!
%html
  %head
    %title MateApp
    = typekit 'gfk5ghe'
    :javascript
      try{Typekit.load();}catch(e){}
    %script{:src => "https://maps.googleapis.com/maps/api/js?", :type => "text/javascript"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      = render partial: "/layouts/navbar"
      %p.notice= notice
      %p.alert= alert
    %main
      = yield
    %footer
      = render partial: "layouts/footer"