!!!
%html
  %head
    %title MateApp
    = favicon_link_tag 'favicon.ico'
    %script{:src => "//use.typekit.net/gfk5ghe.js"}
    :javascript
      try{Typekit.load();}catch(e){}
    %script{:src => "//maps.googleapis.com/maps/api/js?v=3&key=AIzaSyCPq4JBbB5chXodX3hZBjHaLQcnc3VV7bs", :type => "text/javascript"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      = render partial: "/layouts/navbar"
    %main
      = yield
    %footer
      = render partial: "layouts/footer"